* {
  font-family: 'Arial', sans-serif;
}

body {
  background: black;
}

a {
  text-decoration: none;
}

.container-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0);
  z-index: 100;
  display: flex;
  user-select: none;
}

.container-center {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-button {
  transition: opacity 2s;
}

.start-button p {
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  transition: font-size 0.5s;
  cursor: pointer;
}

.start-button:hover p {
  font-size: 0.8rem;
  transition: font-size 0.2s;
}

.start-clicked {
  opacity: 0;
}

.flash-start {
  opacity: 0;
}
.flash-clicked {
  opacity: 1;
  transition: opacity 3s;
}
.flash-over {
  opacity: 0;
  transition: opacity 0.2s;
}
.flash-overlay {
  background: white;
  z-index: 101;
  user-select: none;
}

.container-overlayTwo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 100;
  display: flex;
  user-select: none;
  opacity: 0;
}

.second-flash {
  animation: secondFlash 70s;
}

.container-text {
  font-weight: bold;
  font-size: 0.75rem;
}

.container-text {
  opacity: 0;
}

.invisible {
  animation: text 10s;
}

.invisible-long {
  animation: text 20s;
}

.visible {
  opacity: 1;
}

@keyframes secondFlash {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes text {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100%; {
    opacity: 0;
  }
}
