* {
  font-family: 'Arial', sans-serif;
}

body {
  background: black;
}

a {
  text-decoration: none;
}

.container-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0);
  z-index: 100;
  display: flex;
  user-select: none;
}

.container-center {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  transition: opacity 2s;
}

.start-button p {
  color: white;
  font-weight: bold;
  font-size: 0.75rem;
  transition: font-size 0.5s;
  cursor: pointer;
}

.start-button p:hover {
  font-size: 0.8rem;
  transition: font-size 0.2s;
}

.start-clicked {
  opacity: 0;
}

.flash-start {
  opacity: 0;
}
.flash-clicked {
  opacity: 1;
  transition: opacity 3s;
}
.flash-over {
  opacity: 0;
  transition: opacity 0.2s;
}
.flash-overlay {
  background: white;
  z-index: 101;
  user-select: none;
}
