body {
  margin: 0;
}

* {
  box-sizing: border-box; margin: 0; padding: 0;
}

body {
  color: #eee;
  font-family: tahoma;
  font-size:13px;
  margin: 0px;
  overflow: hidden;
  line-height: 1.4em;
  text-shadow: 0 -1px 0 rgba( 0, 0, 0, .5 );
  background-color: #000;
  width: 100%;
  height: 100%;
}

#container {
  position: absolute; left: 0; top: 0; right: 0; bottom: 0;
}
#options {
  position: absolute; left: 10px; top: 10px;
}
#options ul {
  list-style-type: none;
}

a {
  color: white;
  text-shadow: 0 1px 0 rgba( 0,0,0,0.5 );
}

#container canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
}

#loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 10px;
  color: white;
  background-color: #b70000;
  text-align: center;
  pointer-events: none;
  -webkit-transition: opacity 250ms ease-out;
  opacity: 0 ;
}

#intro {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

#intro p {
  margin-top: .7em;
}

#switch {
  position: absolute;
  right: 10px; top: 10px;
  text-align: right;
}

#fullscreenBtn {
  display: none;
}

@media (max-width: 600px) {
  #intro {
    display: none;
  }
  #switch {
    left: 10px;
    top: auto;
    bottom: 10px;
    text-align: left;
  }
  #fullscreenBtn {
    display: inline-block;
  }
  #goFullscreenText {
    display: none;
  }
}
